* {
  font-family: Montserrat, sans-serif;
}

.container {
  max-width: 1168px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.back-link {
  display: block;
  margin-bottom: 30px;
}

.feedback-form {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 12px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label textarea {
  resize: none;
}
